*{
    transition: 0.2s;
    transform-origin: center;
}
body,html,#root{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:url('./bk.png') no-repeat fixed center;
    background-size: cover;
    transition: 0.3s;
}
#intro{
    background:url(intro.png) center no-repeat;
    background-size:cover;
    height:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.primary{
    background:rgb(112, 112, 223);
    color:white;
}

.btn{
	border-radius: 0.25rem;
    border: 0;
    padding: 0 1.5rem;
    line-height: 5vh;
    margin: 0.5rem auto;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    width: 6.5rem;
    box-shadow: 0 2px 2px 0.1px grey;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.btn:hover,.btn:focus{
    box-shadow: none;
}

.App{
    display:block;
	width:100%;
    height:100vh;
}
.App:hover{
    cursor:url('addcursor.png'),crosshair;
}

.round{
	border-radius:50%;
	width: 5vw;
	height:5vw;
	background: rgb(239, 239, 239);
    box-shadow: 0.5px 0.5px 2px -1px grey;
    cursor: default;
}
.flex-col{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}


.head{
	position: absolute;
}
.head .contain{
    line-height: 5vw;
}
.head-plus{
	display:none;
	font-size:3rem;
	line-height: 4rem;
}
.head-minus-cont{
	position: relative;
}
.head-minus{
	display: none;
    float: right;
    margin: calc(13% - 1.1rem);
    background: #fffdfd;
    width: 5vh;
    height: 5vh;
    line-height: 1.7vh;
    vertical-align: middle;
    color: black;
    font-size: 4rem;
    padding:0.25rem;
    border-radius: 50%;
}
.head-check{
	display:none;
}
.head-children{
    transform: scale(0);
    transition: 0.3s;
    width: 5vw;
    height: 5vw;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2.5vw);
    left: calc(50% - 2.5vw);
}
.head-children .child{
    position: absolute;
    top: calc(50% - 2vw);
    left: calc(50% - 2vw);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #f1f1f1;
    box-shadow: 0 0 2px 0.1px #9e9e9e;
    line-height: 2vw;
    z-index: 25;
}


.head-children .add-child{
    display: none;
    position: absolute;
    top: calc(50% - 2.5vh);
    left: calc(50% - 2.6vh);
    font-size: 4vh;
    z-index: 5;
    background: black;
    width: 3vh;
    height: 3vh;
    line-height: 2vh;
    color: white;
    border-radius: 50%;
    padding: 1vh;
    text-align: center;
}
.head-children .child p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 35;
    
}
.child:hover{
    cursor: pointer;
}
.p-tog:checked + label p,.add-children{
    width: 15vw;
    height: 15vw;
    background: rgb(237, 233, 255);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    top: calc(50% - 7.5vw);
    left: calc(50% - 7.5vw);
    border-radius: 50%;
    transition: 0.4s;
    overflow: unset;
    white-space: normal;
} 
.p-tog:checked + label p{
    min-width: 15vw;
    min-height:15vw;
    width:auto;
    height:auto;
    padding:100%;
}
.p-tog:checked + label{
    z-index: 75;
}

.head-check:checked ~ .head-children{
    transform: scale(1);
    box-shadow: 0 0 43px 4px;
    z-index: 20;
}
.head-check:checked ~ .head-children .add-child{
	display:block;
}
.head-check:checked ~ .head-children .head-minus{
    display:block;
    z-index: 25;
}
.head-check:checked + .head-plus{
	display:none !important;
}
.head:hover > .contain > .head-plus{
    display:block;
    line-height: 4vw;
}
.head:hover > .contain> .head-data{
	display:none;
}

.color{
    width:1.5rem;
    height:1.5rem;
    display:inline-block;
}
.color-radio{
    display:none;
}
.color-radio:checked + label{
    width:2rem;
    height:2rem;
    border:1px solid black;
}
#pop-check{
    display:none;
}
#pop-check:checked + label{
    display:flex;
}


.pop{
    display:none;
    width: 100%;
    height: 100%;
    margin:auto;
    font-size: 2rem;
    background: #38383881;
    z-index: 50;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    cursor: default;
}
.pop > label,.pop-body > label{
    width:100%;
    height:100%; 
}
.pop-body{
    padding:0.5rem;
    width:30vw;
    height:30vw;
    box-shadow:0 0 5px 0.1px grey;
    margin:auto;
}
.pop-body form:nth-of-type(1){
    /* background: white;
    display: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 59%;
    width: 80%;
    margin: auto;
    margin-top: -10%; */
}
#sign-div form:nth-of-type(2){
    /* background: white;
    display: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 39%;
    width: 70%;
    margin: auto;
    margin-bottom: 0%; */
}
.sign-btn:checked + form{
    display:block !important;
}

#signup:checked #sign-up{
    background:blue;
}
#login:checked #log-in{
    background:blue;
}

#sign-cont{
    display: flex;
    width:100%;
    height:100%;
}
#sign-div{
    width:100%;
    height:100%;
    justify-content: space-between;
}

#sign-up,#log-in{
    width: auto;
    height:auto;
    display:inline-block;
    z-index: 50;
}

#sign-cont form{
    background:url('bk.png') no-repeat center;
    background-size:cover; 
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
#sign-cont form > div{
    background:url('signup.png')  no-repeat center;
    background-size:contain; 
    width: 80%;
    height:80%;
    position: absolute;
    top: 10%;
    left: 10%;
}
#login ~ form > div{
    background:url('login.png')  no-repeat center;
    background-size:contain; 
}
form > div > div{
    position: absolute;
    top:30%;
    left:33%;
    transform: skewY(-30deg)
}

form > div > div input{
    display:block;
    padding:7%;
    border:0;
    border-radius:15px;
    margin: 2.5rem auto;
    background: transparent;
    border:2px solid white;   
    color:white; 
}

form > div > div > div{
    position: relative;
}
form > div > div .btn{
    background:rgb(255, 255, 255);
    color:rgb(118, 105, 238);
    font-size:1.1rem;
    text-align: center;
}
form > div > div label{
	display:block;
	position: absolute;
	color:white;
	top:calc(30%);
	left:calc(1vw);
	/* background:#FAFAFA; */
    padding:0 0.5vw;
    font-size:1rem;
}

form > div > div input:focus + label,form > div > div input:valid + label{
	transform-origin: left;
	transform:scale(0.8) translateY(calc(-140%));
    color:white;
    background:#4a7aff;
}

@media only screen and (max-width: 750px) {
    .round{
        width: 3rem;
        height:3rem;
    }
    .head .contain{
        line-height: 3rem;
    }
    .head-children .child{
        width: 3rem;
        height:3rem;
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);
        line-height: 1rem;
    }
    .p-tog:checked + label p, .add-children{
        width: 8rem;
        height: 8rem;
        top: calc(50% - 3rem);
        left: calc(50% - 3rem);
    }
}